

<div class="classroomSubject">
	<h3><%= @classroom.subject %>
</div>

<div class="classroomStudents">
	<% @students.each do |student| %>
		<%= student.full_name %>
		<br>
	<% end %>
</div>

<a href="#" class="js-previous" data-id="<%= @classroom.id %>">Previous</a> | <a href="#" class="js-next" data-id="<%= @classroom.id %>">Next</a> 


<br>
<br>
<%= link_to 'Edit Classroom', edit_user_classroom_path(current_user) %>