<h1>Welcome to <%= current_user.title %> <%= current_user.first_name %> <%= current_user.last_name %>'s Classroom Manager!</h1>
<br>

<h3><%= link_to 'My Classrooms', user_classrooms_path(current_user) %></h3>

<br>
<h3><%= link_to 'All Students', students_path, :class => "load_students" %></h3>
<div class="students"></div>


