<h1>Welcome to <%= current_user.title %> <%= current_user.last_name %>'s Classroom Manager!</h1>

<%= link_to 'Classrooms', user_classrooms_path(current_user) %>
<br>
<%= link_to 'Students', students_path %>
<br>
<br>
<br>
<%= link_to 'Edit profile', edit_user_registration_path %>
<br>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>