<h1>Welcome to <%= current_user.title %> <%= current_user.first_name %> <%= current_user.last_name %>'s Classroom Manager!</h1>

<h3><%= link_to 'My Classrooms', user_classrooms_path(current_user), :class => "my_classrooms" %></h3>

<div class="classrooms">
</div>

<h3><%= link_to 'All Students', students_path %></h3>


